Repository microsoft/botframework-solutions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darrenj, @lauren-mills, @lzc850612, @ryanlengel

.github/CODEOWNERS:

# https://blog.github.com/2017-07-06-introducing-code-owners/

* @darrenj @lauren-mills @lzc850612 @ryanlengel 

# Deployment scripts
*.ps1 @lauren-mills

# Docs
/docs/ @ryanlengel

# Lib
/lib/ @lzc850612

# Skills
/skills/ @lauren-mills @lzc850612 @ryanlengel 

# Solutions
/solutions/ @ryanlengel

# Templates
/templates/ @lauren-mills

Resolved some simple formatting errors across the project Fixed sign-out & sign-in by passing AzureAD as asp-area. Web app will now ask user to sign-in and can sign-out successfully.
  solutions/linkedaccounts/linkedaccounts.web/Controllers/AccountController.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/HomeController.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/ILinkedAccountRepository.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/LinkedAccountRepository.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/SessionController.cs
  solutions/linkedaccounts/linkedaccounts.web/Extensions/AzureAdAuthenticationBuilderExtensions.cs
  solutions/linkedaccounts/linkedaccounts.web/Helpers/UserId.cs
  solutions/linkedaccounts/linkedaccounts.web/Models/DirectLineToken.cs
  solutions/linkedaccounts/linkedaccounts.web/Models/LinkedAccountsViewModel.cs
  solutions/linkedaccounts/linkedaccounts.web/Startup.cs
  solutions/linkedaccounts/linkedaccounts.web/Views/Shared/_LoginPartial.cshtml
Owners: @ryanlengel

Updates skill deployment scripts with latest fixes from VA template (#1722)
  .gitignore
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Resources/template.json
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Scripts/deploy.ps1
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Scripts/deploy_cognitive_models.ps1
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Scripts/luis_functions.ps1
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Scripts/publish.ps1
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Scripts/qna_functions.ps1
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Scripts/update_cognitive_models.ps1
  templates/Skill-Template/csharp/Template/Skill/Deployment/Scripts/deploy.ps1
  templates/Skill-Template/csharp/Template/Skill/Deployment/Scripts/deploy_cognitive_models.ps1
  templates/Skill-Template/csharp/Template/Skill/Deployment/Scripts/luis_functions.ps1
  templates/Skill-Template/csharp/Template/Skill/Deployment/Scripts/publish.ps1
  templates/Skill-Template/csharp/Template/Skill/Deployment/Scripts/qna_functions.ps1
  templates/Skill-Template/csharp/Template/Skill/Deployment/Scripts/update_cognitive_models.ps1
  templates/Skill-Template/csharp/Template/SkillProjectTemplate.vstemplate
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/add_remote_skill.ps1
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/deploy.ps1
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/deploy_cognitive_models.ps1
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/remove_skill.ps1
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/skill_functions.ps1
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/update_cognitive_models.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VA/Deployment/Scripts/add_remote_skill.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VA/Deployment/Scripts/deploy.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VA/Deployment/Scripts/deploy_cognitive_models.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VA/Deployment/Scripts/remove_skill.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VA/Deployment/Scripts/skill_functions.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VA/Deployment/Scripts/update_cognitive_models.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VAProjectTemplate.vstemplate
Owners: @darrenj, @lauren-mills, @lzc850612, @ryanlengel

Updates skill deployment scripts with latest fixes from VA template (#1722)
  .gitignore
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Resources/template.json
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Scripts/deploy.ps1
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Scripts/deploy_cognitive_models.ps1
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Scripts/luis_functions.ps1
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Scripts/publish.ps1
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Scripts/qna_functions.ps1
  templates/Skill-Template/csharp/Sample/SkillSample/Deployment/Scripts/update_cognitive_models.ps1
  templates/Skill-Template/csharp/Template/Skill/Deployment/Scripts/deploy.ps1
  templates/Skill-Template/csharp/Template/Skill/Deployment/Scripts/deploy_cognitive_models.ps1
  templates/Skill-Template/csharp/Template/Skill/Deployment/Scripts/luis_functions.ps1
  templates/Skill-Template/csharp/Template/Skill/Deployment/Scripts/publish.ps1
  templates/Skill-Template/csharp/Template/Skill/Deployment/Scripts/qna_functions.ps1
  templates/Skill-Template/csharp/Template/Skill/Deployment/Scripts/update_cognitive_models.ps1
  templates/Skill-Template/csharp/Template/SkillProjectTemplate.vstemplate
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/add_remote_skill.ps1
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/deploy.ps1
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/deploy_cognitive_models.ps1
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/remove_skill.ps1
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/skill_functions.ps1
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Deployment/Scripts/update_cognitive_models.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VA/Deployment/Scripts/add_remote_skill.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VA/Deployment/Scripts/deploy.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VA/Deployment/Scripts/deploy_cognitive_models.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VA/Deployment/Scripts/remove_skill.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VA/Deployment/Scripts/skill_functions.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VA/Deployment/Scripts/update_cognitive_models.ps1
  templates/Virtual-Assistant-Template/csharp/Template/VAProjectTemplate.vstemplate
Owners: @darrenj, @lauren-mills, @lzc850612, @ryanlengel

Update linked accounts doc with app settings comments
  docs/howto/assistant/linkedaccounts.md
Owners: @ryanlengel

Update Microsoft.Identity.Web with latest references
  solutions/linkedaccounts/LinkedAccounts.sln
  solutions/linkedaccounts/Microsoft.Identity.Web/Client/TokenAcquisition.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Client/TokenCacheProviders/InMemory/MSALPerUserMemoryTokenCacheProvider.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Client/TokenCacheProviders/Session/MSALPerUserSessionTokenCacheProvider.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Client/TokenCacheProviders/Sql/MSALPerUserSqlTokenCacheProvider.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/InstanceDiscovery/IssuerConfigurationRetriever.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/InstanceDiscovery/IssuerMetadata.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/InstanceDiscovery/Metadata.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/InternalsVisibleTo.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Microsoft.Identity.Web.csproj
  solutions/linkedaccounts/Microsoft.Identity.Web/README.md
  solutions/linkedaccounts/Microsoft.Identity.Web/Resource/AadIssuerValidator.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Resource/ScopesRequiredByWebAPIExtension.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/StartupHelpers.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/WebApiStartupHelpers.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/AccountController.cs
Owners: @ryanlengel

[Linked Accounts] Fix sign-in/sign-out flow (#1723)
  docs/howto/assistant/linkedaccounts.md
  solutions/linkedaccounts/LinkedAccounts.sln
  solutions/linkedaccounts/Microsoft.Identity.Web/Client/TokenAcquisition.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Client/TokenCacheProviders/InMemory/MSALPerUserMemoryTokenCacheProvider.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Client/TokenCacheProviders/Session/MSALPerUserSessionTokenCacheProvider.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Client/TokenCacheProviders/Sql/MSALPerUserSqlTokenCacheProvider.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/InstanceDiscovery/IssuerConfigurationRetriever.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/InstanceDiscovery/IssuerMetadata.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/InstanceDiscovery/Metadata.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/InternalsVisibleTo.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Microsoft.Identity.Web.csproj
  solutions/linkedaccounts/Microsoft.Identity.Web/README.md
  solutions/linkedaccounts/Microsoft.Identity.Web/Resource/AadIssuerValidator.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Resource/ScopesRequiredByWebAPIExtension.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/StartupHelpers.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/WebApiStartupHelpers.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/AccountController.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/HomeController.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/ILinkedAccountRepository.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/LinkedAccountRepository.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/SessionController.cs
  solutions/linkedaccounts/linkedaccounts.web/Extensions/AzureAdAuthenticationBuilderExtensions.cs
  solutions/linkedaccounts/linkedaccounts.web/Helpers/UserId.cs
  solutions/linkedaccounts/linkedaccounts.web/Models/DirectLineToken.cs
  solutions/linkedaccounts/linkedaccounts.web/Models/LinkedAccountsViewModel.cs
  solutions/linkedaccounts/linkedaccounts.web/Startup.cs
  solutions/linkedaccounts/linkedaccounts.web/Views/Shared/_LoginPartial.cshtml
  solutions/linkedaccounts/linkedaccounts.web/appsettings.json
Owners: @ryanlengel

[Linked Accounts] Fix sign-in/sign-out flow (#1723)
  docs/howto/assistant/linkedaccounts.md
  solutions/linkedaccounts/LinkedAccounts.sln
  solutions/linkedaccounts/Microsoft.Identity.Web/Client/TokenAcquisition.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Client/TokenCacheProviders/InMemory/MSALPerUserMemoryTokenCacheProvider.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Client/TokenCacheProviders/Session/MSALPerUserSessionTokenCacheProvider.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Client/TokenCacheProviders/Sql/MSALPerUserSqlTokenCacheProvider.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/InstanceDiscovery/IssuerConfigurationRetriever.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/InstanceDiscovery/IssuerMetadata.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/InstanceDiscovery/Metadata.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/InternalsVisibleTo.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Microsoft.Identity.Web.csproj
  solutions/linkedaccounts/Microsoft.Identity.Web/README.md
  solutions/linkedaccounts/Microsoft.Identity.Web/Resource/AadIssuerValidator.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/Resource/ScopesRequiredByWebAPIExtension.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/StartupHelpers.cs
  solutions/linkedaccounts/Microsoft.Identity.Web/WebApiStartupHelpers.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/AccountController.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/HomeController.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/ILinkedAccountRepository.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/LinkedAccountRepository.cs
  solutions/linkedaccounts/linkedaccounts.web/Controllers/SessionController.cs
  solutions/linkedaccounts/linkedaccounts.web/Extensions/AzureAdAuthenticationBuilderExtensions.cs
  solutions/linkedaccounts/linkedaccounts.web/Helpers/UserId.cs
  solutions/linkedaccounts/linkedaccounts.web/Models/DirectLineToken.cs
  solutions/linkedaccounts/linkedaccounts.web/Models/LinkedAccountsViewModel.cs
  solutions/linkedaccounts/linkedaccounts.web/Startup.cs
  solutions/linkedaccounts/linkedaccounts.web/Views/Shared/_LoginPartial.cshtml
  solutions/linkedaccounts/linkedaccounts.web/appsettings.json
Owners: @ryanlengel

removed timestamp from Activity events
  solutions/android/VirtualAssistantClient/directlinespeech/src/main/java/com/microsoft/bot/builder/solutions/directlinespeech/SpeechSdk.java
Owners: @ryanlengel

updated poi skill deployment
  skills/src/csharp/pointofinterestskill/pointofinterestskill/Deployment/Resources/template.json
  skills/src/csharp/pointofinterestskill/pointofinterestskill/Deployment/Scripts/deploy.ps1
  skills/src/csharp/pointofinterestskill/pointofinterestskill/Deployment/Scripts/deploy_cognitive_models.ps1
  skills/src/csharp/pointofinterestskill/pointofinterestskill/Deployment/Scripts/luis_functions.ps1
  skills/src/csharp/pointofinterestskill/pointofinterestskill/Deployment/Scripts/publish.ps1
  skills/src/csharp/pointofinterestskill/pointofinterestskill/Deployment/Scripts/qna_functions.ps1
  skills/src/csharp/pointofinterestskill/pointofinterestskill/Deployment/Scripts/update_cognitive_models.ps1
  skills/src/csharp/pointofinterestskill/pointofinterestskill/Dialogs/MainDialog.cs
  skills/src/csharp/pointofinterestskill/pointofinterestskill/Dialogs/PointOfInterestDialogBase.cs
  skills/src/csharp/pointofinterestskill/pointofinterestskill/Services/BotSettings.cs
  skills/src/csharp/pointofinterestskill/pointofinterestskill/Services/ServiceManager.cs
  skills/src/csharp/pointofinterestskill/pointofinterestskill/appsettings.json
  skills/src/csharp/pointofinterestskill/pointofinterestskill/cognitivemodels.json
  skills/src/csharp/pointofinterestskill/pointofinterestskill/manifestTemplate.json
Owners: @lauren-mills, @lzc850612, @ryanlengel

Fix broken links
  docs/reference/skills/architecture.md
Owners: @ryanlengel

updated poi luisgen file
  skills/src/csharp/pointofinterestskill/pointofinterestskill/Services/PointOfInterestLuis.cs
Owners: @lauren-mills, @lzc850612, @ryanlengel

Fix broken links (#1725)
  docs/reference/skills/architecture.md
Owners: @ryanlengel

Fix broken links (#1725)
  docs/reference/skills/architecture.md
Owners: @ryanlengel

Update knownissues.md
  docs/reference/knownissues.md
Owners: @ryanlengel

Update knownissues.md
  docs/reference/knownissues.md
Owners: @ryanlengel

restaurant booking's lu file has entity attendees (#1654)
  skills/src/csharp/experimental/restaurantbooking/Deployment/Resources/LU/en/restaurant.lu
  skills/src/csharp/experimental/restaurantbooking/Services/ReservationLuis.cs
Owners: @lauren-mills, @lzc850612, @ryanlengel

update with new design
  lib/csharp/microsoft.bot.builder.skills/Microsoft.Bot.Builder.Skills/ISkillIntentRecognizer.cs
  lib/csharp/microsoft.bot.builder.skills/Microsoft.Bot.Builder.Skills/SkillDialog.cs
  lib/csharp/microsoft.bot.builder.skills/Microsoft.Bot.Builder.Skills/SkillDialogOptions.cs
  lib/csharp/microsoft.bot.builder.skills/Microsoft.Bot.Builder.Skills/SkillSwitchConfirmOption.cs
  lib/csharp/microsoft.bot.builder.solutions/microsoft.bot.builder.solutions/BotSettingsBase.cs
  lib/csharp/microsoft.bot.builder.solutions/microsoft.bot.builder.solutions/Dialogs/RouterDialog.cs
  lib/csharp/microsoft.bot.builder.solutions/microsoft.bot.builder.solutions/Resources/CommonStrings.Designer.cs
  lib/csharp/microsoft.bot.builder.solutions/microsoft.bot.builder.solutions/Resources/CommonStrings.de.resx
  lib/csharp/microsoft.bot.builder.solutions/microsoft.bot.builder.solutions/Resources/CommonStrings.es.resx
  lib/csharp/microsoft.bot.builder.solutions/microsoft.bot.builder.solutions/Resources/CommonStrings.fr.resx
  lib/csharp/microsoft.bot.builder.solutions/microsoft.bot.builder.solutions/Resources/CommonStrings.it.resx
  lib/csharp/microsoft.bot.builder.solutions/microsoft.bot.builder.solutions/Resources/CommonStrings.resx
  lib/csharp/microsoft.bot.builder.solutions/microsoft.bot.builder.solutions/Resources/CommonStrings.zh.resx
Owners: @lzc850612

fix warning
  lib/csharp/microsoft.bot.builder.skills/Microsoft.Bot.Builder.Skills/ISkillIntentRecognizer.cs
  lib/csharp/microsoft.bot.builder.skills/Microsoft.Bot.Builder.Skills/SkillDialog.cs
  lib/csharp/microsoft.bot.builder.skills/Microsoft.Bot.Builder.Skills/SkillDialogOptions.cs
  lib/csharp/microsoft.bot.builder.skills/Microsoft.Bot.Builder.Skills/SkillSwitchConfirmOption.cs
Owners: @lzc850612

fix warning
  lib/csharp/microsoft.bot.builder.skills/Microsoft.Bot.Builder.Skills/SkillDialog.cs
Owners: @lzc850612

add adaptive dialog for create dialog
  skills/src/csharp/calendarskill/calendarskill/Dialogs/CreateEventDialog.cs
  skills/src/csharp/calendarskill/calendarskill/Dialogs/MainDialog.cs
  skills/src/csharp/calendarskill/calendarskill/Dialogs/SummaryDialog.cs
  skills/src/csharp/calendarskill/calendarskill/Prompts/TimePrompt.cs
Owners: @lauren-mills, @lzc850612, @ryanlengel

upgrade va package
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample.Tests/VirtualAssistantSample.Tests.csproj
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/VirtualAssistantSample.csproj
  templates/Virtual-Assistant-Template/csharp/VirtualAssistantTemplate.sln
Owners: @lauren-mills

fix issue
  lib/csharp/microsoft.bot.builder.skills/Microsoft.Bot.Builder.Skills.Tests/SkillDialogTest.cs
  lib/csharp/microsoft.bot.builder.skills/Microsoft.Bot.Builder.Skills/SkillDialog.cs
Owners: @lzc850612

Add tests for the sanitization
  tools/botskills/test/sanitization.test.js
Owners: @darrenj, @lauren-mills, @lzc850612, @ryanlengel

Implement sanitization path as an util
  tools/botskills/src/utils/sanitizationUtils.ts
Owners: @darrenj, @lauren-mills, @lzc850612, @ryanlengel

Export the sanitization util
  tools/botskills/src/utils/index.ts
Owners: @darrenj, @lauren-mills, @lzc850612, @ryanlengel

Path sanitization for commands in the cli
  tools/botskills/src/botskills-connect.ts
  tools/botskills/src/botskills-disconnect.ts
  tools/botskills/src/botskills-refresh.ts
  tools/botskills/src/botskills-update.ts
Owners: @darrenj, @lauren-mills, @lzc850612, @ryanlengel

Remove line break
  tools/botskills/test/sanitization.test.js
Owners: @darrenj, @lauren-mills, @lzc850612, @ryanlengel

Update virtualassistant.md
  docs/overview/virtualassistant.md
Owners: @ryanlengel

Update virtualassistant.md
  docs/overview/virtualassistant.md
Owners: @ryanlengel

Add eslintignore file, and ignore the auto-generated files
  templates/Virtual-Assistant-Template/typescript/generator-botbuilder-assistant/generators/app/src/copier.js
  templates/Virtual-Assistant-Template/typescript/generator-botbuilder-assistant/generators/app/templates/sample-assistant/_.eslintignore
  templates/Virtual-Assistant-Template/typescript/generator-botbuilder-assistant/test/generator-botbuilder-assistant.test.suite.js
  templates/Virtual-Assistant-Template/typescript/samples/sample-assistant/.eslintignore
Owners: @lauren-mills

LG Part1
  skills/src/csharp/emailskill/emailskill/Adapters/AdapterWithErrorHandler.cs
  skills/src/csharp/emailskill/emailskill/Adapters/DefaultAdapter.cs
  skills/src/csharp/emailskill/emailskill/Dialogs/MainDialog.cs
  skills/src/csharp/emailskill/emailskill/Startup.cs
Owners: @lauren-mills, @lzc850612, @ryanlengel
