Repository microsoft/botframework-solutions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darrenj, @lauren-mills, @lzc850612, @ryanlengel

.github/CODEOWNERS:

# https://blog.github.com/2017-07-06-introducing-code-owners/

* @darrenj @lauren-mills @lzc850612 @ryanlengel 

# Docs
/docs/ @ryanlengel @darrenj

# Lib
/lib/ @lzc850612 @darrenj

# Skills
/skills/ @lauren-mills @lzc850612 @ryanlengel 

# Solutions
/solutions/ @ryanlengel @darrenj

# Templates
/templates/ @lauren-mills @darrenj

merged latest upstream changes
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/de/Email.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/de/General.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/en/Email.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/en/General.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/es/Email.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/es/General.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/fr/Email.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/fr/General.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/it/Email.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/it/General.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/zh/Email.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/zh/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/de/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/de/ToDo.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/en/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/en/ToDo.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/es/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/es/ToDo.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/fr/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/fr/ToDo.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/it/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/it/ToDo.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/zh/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/zh/ToDo.lu
Owners: @lauren-mills, @lzc850612, @ryanlengel

Rename news.lu to News.lu
  skills/src/csharp/experimental/newsskill/Deployment/Resources/LU/en/News.lu
Owners: @lauren-mills, @lzc850612, @ryanlengel

Rename general.lu to General.lu
  skills/src/csharp/experimental/newsskill/Deployment/Resources/LU/en/General.lu
Owners: @lauren-mills, @lzc850612, @ryanlengel

updated deployment scripts
  skills/src/csharp/experimental/restaurantbooking/Deployment/Resources/LU/en/Reservation.lu
  skills/src/csharp/experimental/restaurantbooking/Deployment/Resources/template.json
  skills/src/csharp/experimental/restaurantbooking/Deployment/Scripts/deploy.ps1
  skills/src/csharp/experimental/restaurantbooking/Deployment/Scripts/deploy_cognitive_models.ps1
  skills/src/csharp/experimental/restaurantbooking/Deployment/Scripts/luis_functions.ps1
  skills/src/csharp/experimental/restaurantbooking/Deployment/Scripts/publish.ps1
  skills/src/csharp/experimental/restaurantbooking/Deployment/Scripts/qna_functions.ps1
  skills/src/csharp/experimental/restaurantbooking/Deployment/Scripts/update_cognitive_models.ps1
Owners: @lauren-mills, @lzc850612, @ryanlengel

fixed captialization
  skills/src/csharp/experimental/restaurantbooking/Dialogs/BookingDialog.cs
  skills/src/csharp/experimental/restaurantbooking/Dialogs/MainDialog.cs
  skills/src/csharp/experimental/restaurantbooking/Dialogs/SkillDialogBase.cs
  skills/src/csharp/experimental/restaurantbooking/Services/BotSettings.cs
  skills/src/csharp/experimental/restaurantbooking/Utilities/UrlResolver.cs
  skills/src/csharp/experimental/restaurantbooking/appsettings.json
  skills/src/csharp/experimental/restaurantbooking/cognitivemodels.json
Owners: @lauren-mills, @lzc850612, @ryanlengel

Update deployment message
  templates/Virtual-Assistant-Template/typescript/generator-botbuilder-assistant/generators/app/index.js
  templates/Virtual-Assistant-Template/typescript/generator-botbuilder-assistant/generators/skill/index.js
Owners: @lauren-mills, @darrenj

Fixed some typos
  docs/readme.md
Owners: @ryanlengel, @darrenj

Return checklist to PR template (#1801)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @darrenj, @lauren-mills, @lzc850612, @ryanlengel

Return checklist to PR template (#1801)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @darrenj, @lauren-mills, @lzc850612, @ryanlengel

removed restaurant sln
  skills/src/csharp/experimental/restaurantbooking/RestaurantBooking.sln
Owners: @lauren-mills, @lzc850612, @ryanlengel

Update template.json
  skills/src/csharp/experimental/restaurantbooking/Deployment/Resources/template.json
Owners: @lauren-mills, @lzc850612, @ryanlengel

Rename general.lu to General.lu
  skills/src/csharp/experimental/restaurantbooking/Deployment/Resources/LU/en/General.lu
Owners: @lauren-mills, @lzc850612, @ryanlengel

updated deployment scripts
  skills/src/csharp/experimental/bingsearchskill/bingsearchskill/Deployment/Resources/template.json
  skills/src/csharp/experimental/bingsearchskill/bingsearchskill/Deployment/Scripts/deploy.ps1
  skills/src/csharp/experimental/bingsearchskill/bingsearchskill/Deployment/Scripts/deploy_cognitive_models.ps1
  skills/src/csharp/experimental/bingsearchskill/bingsearchskill/Deployment/Scripts/luis_functions.ps1
  skills/src/csharp/experimental/bingsearchskill/bingsearchskill/Deployment/Scripts/publish.ps1
  skills/src/csharp/experimental/bingsearchskill/bingsearchskill/Deployment/Scripts/qna_functions.ps1
  skills/src/csharp/experimental/bingsearchskill/bingsearchskill/Deployment/Scripts/update_cognitive_models.ps1
Owners: @lauren-mills, @lzc850612, @ryanlengel

fixed appsettings properties
  skills/src/csharp/experimental/bingsearchskill/bingsearchskill/Dialogs/SearchDialog.cs
  skills/src/csharp/experimental/bingsearchskill/bingsearchskill/Services/BotSettings.cs
Owners: @lauren-mills, @lzc850612, @ryanlengel

Fixed some typos (#1816)
  docs/readme.md
Owners: @ryanlengel, @darrenj

Fixed some typos (#1816)
  docs/readme.md
Owners: @ryanlengel, @darrenj

fixes #1755 Clean up test events in sidebar
  solutions/android/VirtualAssistantClient/app/src/main/java/com/microsoft/bot/builder/solutions/virtualassistant/activities/main/MainActivity.java
  solutions/android/VirtualAssistantClient/app/src/main/java/com/microsoft/bot/builder/solutions/virtualassistant/activities/settings/SettingsActivity.java
  solutions/android/VirtualAssistantClient/app/src/main/java/com/microsoft/bot/builder/solutions/virtualassistant/service/SpeechService.java
  solutions/android/VirtualAssistantClient/app/src/main/res/layout/activity_settings.xml
  solutions/android/VirtualAssistantClient/app/src/main/res/menu/nav_drawer_menu.xml
  solutions/android/VirtualAssistantClient/app/src/main/res/values/strings.xml
  solutions/android/VirtualAssistantClient/directlinespeech/src/main/java/com/microsoft/bot/builder/solutions/directlinespeech/model/Configuration.java
Owners: @ryanlengel, @darrenj

updated build gradle after Android Studio Update
  solutions/android/VirtualAssistantClient/build.gradle
Owners: @ryanlengel, @darrenj

update deployment scripts
  skills/src/csharp/experimental/weatherskill/Deployment/Resources/template.json
  skills/src/csharp/experimental/weatherskill/Deployment/Scripts/deploy.ps1
  skills/src/csharp/experimental/weatherskill/Deployment/Scripts/deploy_cognitive_models.ps1
  skills/src/csharp/experimental/weatherskill/Deployment/Scripts/luis_functions.ps1
  skills/src/csharp/experimental/weatherskill/Deployment/Scripts/publish.ps1
  skills/src/csharp/experimental/weatherskill/Deployment/Scripts/qna_functions.ps1
  skills/src/csharp/experimental/weatherskill/Deployment/Scripts/update_cognitive_models.ps1
Owners: @lauren-mills, @lzc850612, @ryanlengel

latest upstream changes (#16)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/readme.md
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/de/Email.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/de/General.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/en/Email.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/en/General.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/es/Email.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/es/General.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/fr/Email.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/fr/General.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/it/Email.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/it/General.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/zh/Email.lu
  skills/src/csharp/emailskill/emailskill/Deployment/Resources/LU/zh/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/de/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/de/ToDo.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/en/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/en/ToDo.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/es/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/es/ToDo.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/fr/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/fr/ToDo.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/it/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/it/ToDo.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/zh/General.lu
  skills/src/csharp/todoskill/todoskill/Deployment/Resources/LU/zh/ToDo.lu
Owners: @darrenj, @lauren-mills, @lzc850612, @ryanlengel

updated appsettings properties
  skills/src/csharp/experimental/weatherskill/Services/AccuweatherService.cs
  skills/src/csharp/experimental/weatherskill/Services/BotSettings.cs
Owners: @lauren-mills, @lzc850612, @ryanlengel

updated appsettings
  skills/src/csharp/experimental/weatherskill/appsettings.json
Owners: @lauren-mills, @lzc850612, @ryanlengel

Updated Automotive deployment scripts (#1799)
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Resources/LU/en/General.lu
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Resources/LU/en/Settings.lu
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Resources/LU/en/SettingsDispatch.lu
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Resources/LU/en/SettingsName.lu
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Resources/LU/en/SettingsValue.lu
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Resources/template.json
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Scripts/deploy.ps1
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Scripts/deploy_cognitive_models.ps1
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Scripts/luis_functions.ps1
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Scripts/publish.ps1
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Scripts/qna_functions.ps1
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Scripts/update_cognitive_models.ps1
  skills/src/csharp/automotiveskill/automotiveskill/Dialogs/MainDialog.cs
  skills/src/csharp/automotiveskill/automotiveskill/Dialogs/VehicleSettingsDialog.cs
  skills/src/csharp/automotiveskill/automotiveskill/Models/AutomotiveSkillState.cs
  skills/src/csharp/automotiveskill/automotiveskill/Services/SettingsDispatchLuis.cs
  skills/src/csharp/automotiveskill/automotiveskill/Services/SettingsLuis.cs
  skills/src/csharp/automotiveskill/automotiveskill/Services/SettingsNameLuis.cs
  skills/src/csharp/automotiveskill/automotiveskill/Services/SettingsValueLuis.cs
  skills/src/csharp/automotiveskill/automotiveskill/cognitivemodels.json
  skills/src/csharp/automotiveskill/automotiveskilltest/Flow/AutomotiveSkillTestBase.cs
  skills/src/csharp/automotiveskill/automotiveskilltest/Flow/Fakes/MockLuisRecognizer.cs
  skills/src/csharp/automotiveskill/automotiveskilltest/Flow/Fakes/MockVehicleSettingsIntent.cs
  skills/src/csharp/automotiveskill/automotiveskilltest/Flow/Fakes/MockVehicleSettingsNameIntent.cs
  skills/src/csharp/automotiveskill/automotiveskilltest/Flow/Fakes/MockVehicleSettingsValueIntent.cs
Owners: @lauren-mills, @lzc850612, @ryanlengel

Updated Automotive deployment scripts (#1799)
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Resources/LU/en/General.lu
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Resources/LU/en/Settings.lu
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Resources/LU/en/SettingsDispatch.lu
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Resources/LU/en/SettingsName.lu
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Resources/LU/en/SettingsValue.lu
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Resources/template.json
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Scripts/deploy.ps1
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Scripts/deploy_cognitive_models.ps1
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Scripts/luis_functions.ps1
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Scripts/publish.ps1
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Scripts/qna_functions.ps1
  skills/src/csharp/automotiveskill/automotiveskill/Deployment/Scripts/update_cognitive_models.ps1
  skills/src/csharp/automotiveskill/automotiveskill/Dialogs/MainDialog.cs
  skills/src/csharp/automotiveskill/automotiveskill/Dialogs/VehicleSettingsDialog.cs
  skills/src/csharp/automotiveskill/automotiveskill/Models/AutomotiveSkillState.cs
  skills/src/csharp/automotiveskill/automotiveskill/Services/SettingsDispatchLuis.cs
  skills/src/csharp/automotiveskill/automotiveskill/Services/SettingsLuis.cs
  skills/src/csharp/automotiveskill/automotiveskill/Services/SettingsNameLuis.cs
  skills/src/csharp/automotiveskill/automotiveskill/Services/SettingsValueLuis.cs
  skills/src/csharp/automotiveskill/automotiveskill/cognitivemodels.json
  skills/src/csharp/automotiveskill/automotiveskilltest/Flow/AutomotiveSkillTestBase.cs
  skills/src/csharp/automotiveskill/automotiveskilltest/Flow/Fakes/MockLuisRecognizer.cs
  skills/src/csharp/automotiveskill/automotiveskilltest/Flow/Fakes/MockVehicleSettingsIntent.cs
  skills/src/csharp/automotiveskill/automotiveskilltest/Flow/Fakes/MockVehicleSettingsNameIntent.cs
  skills/src/csharp/automotiveskill/automotiveskilltest/Flow/Fakes/MockVehicleSettingsValueIntent.cs
Owners: @lauren-mills, @lzc850612, @ryanlengel
