Repository microsoft/botframework-solutions, pull requests merged in 2018-11, with the labels that each got.

#236 Update VA BotBuilder references to 2.1.5
  solutions/Virtual-Assistant/src/csharp/assistant/VirtualAssistant.csproj
  solutions/Virtual-Assistant/src/csharp/microsoft.bot.solutions/Microsoft.Bot.Solutions.csproj
  solutions/Virtual-Assistant/src/csharp/skills/calendarskill/CalendarSkill.csproj
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/EmailSkill.csproj
  solutions/Virtual-Assistant/src/csharp/skills/pointofinterestskill/PointOfInterestSkill.csproj
  solutions/Virtual-Assistant/src/csharp/skills/tests/testframework/TestFramework.csproj
  solutions/Virtual-Assistant/src/csharp/skills/todoskill/ToDoSkill.csproj
Labels: VA

#234 Documentation on Linked Accounts & Personalizing Demos
  solutions/Virtual-Assistant/docs/media/transcript-skillsdemo.png
  solutions/Virtual-Assistant/docs/media/virtualAssistant-introductionCard.png
  solutions/Virtual-Assistant/docs/transcripts/skillsdemo.transcript
  solutions/Virtual-Assistant/docs/virtualassistant-linkedaccounts.md
  solutions/Virtual-Assistant/docs/virtualassistant-personalization.md
  solutions/Virtual-Assistant/src/csharp/linkedaccounts/linkedaccounts.web/LinkedAccounts.Web.csproj
  solutions/Virtual-Assistant/src/csharp/linkedaccounts/linkedaccounts.web/Properties/launchSettings.json
  solutions/Virtual-Assistant/src/csharp/linkedaccounts/linkedaccounts.web/wwwroot/css/site.min.css
Labels: VA, docs

#240 Enterprise Template BotBuilder (4.1.5) upgrade & introduction enhancement
  templates/Enterprise-Template/src/csharp/EnterpriseBotTemplate/Bot Framework/Dialogs/Main/MainResponses.cs
  templates/Enterprise-Template/src/csharp/EnterpriseBotTemplate/Bot Framework/EnterpriseBot.csproj
Labels: ET

#250 Remove default coordiantes for POI state
  solutions/Virtual-Assistant/docs/virtualassistant-skills-pointofinterest.md
  solutions/Virtual-Assistant/src/csharp/skills/pointofinterestskill/Dialogs/Route/RouteDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/pointofinterestskill/Dialogs/Shared/PointOfInterestSkillDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/pointofinterestskill/PointOfInterestSkillState.cs
Labels: VA, docs, skills

#255 Email: LU cannot recognize the user selection like "the first one"
  solutions/Virtual-Assistant/src/csharp/microsoft.bot.solutions/Resources/General.cs
  solutions/Virtual-Assistant/src/csharp/microsoft.bot.solutions/Util/Util.cs
  solutions/Virtual-Assistant/src/csharp/skills/calendarskill/Dialogs/Main/MainDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Dialogs/Main/MainDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Dialogs/Shared/EmailSkillDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Startup.cs
  solutions/Virtual-Assistant/src/csharp/skills/pointofinterestskill/Dialogs/Main/MainDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/Fakes/MockEmailIntent.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/Fakes/MockUserService.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/SendEmailFlowTests.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/ShowEmailFlowTests.cs
  solutions/Virtual-Assistant/src/csharp/skills/todoskill/Dialogs/Main/MainDialog.cs
Labels: bug

#277 Provide the ability to control userId in LinkedAccounts
  solutions/Virtual-Assistant/src/csharp/linkedaccounts/linkedaccounts.web/Controllers/HomeController.cs
  solutions/Virtual-Assistant/src/csharp/linkedaccounts/linkedaccounts.web/Controllers/LinkedAccountRepository.cs
  solutions/Virtual-Assistant/src/csharp/linkedaccounts/linkedaccounts.web/Startup.cs
  solutions/Virtual-Assistant/src/csharp/linkedaccounts/linkedaccounts.web/Views/Home/LinkedAccounts.cshtml
Labels: VA

#286 Update to VA docs for personalisation, adding a skill
  solutions/Virtual-Assistant/docs/media/virtualassistant-resourcefile.png
  solutions/Virtual-Assistant/docs/media/virtualassistant-skilljsonresponses.png
  solutions/Virtual-Assistant/docs/virtualassistant-createvirtualassistant.md
  solutions/Virtual-Assistant/docs/virtualassistant-knownissues.md
  solutions/Virtual-Assistant/docs/virtualassistant-languagesupport.md
  solutions/Virtual-Assistant/docs/virtualassistant-personalization.md
  solutions/Virtual-Assistant/docs/virtualassistant-skillenablement.md
  solutions/Virtual-Assistant/docs/virtualassistant-skills.md
Labels: docs

#303 New deployment instructions for LU driven deployment
  solutions/Virtual-Assistant/docs/virtualassistant-createvirtualassistant.md
Labels: VA, docs

#308 Removing "click here" as link texts
  solutions/Virtual-Assistant/docs/README.md
  solutions/Virtual-Assistant/docs/virtualassistant-createvirtualassistant.md
  solutions/Virtual-Assistant/docs/virtualassistant-detailedoverview.md
  solutions/Virtual-Assistant/docs/virtualassistant-deviceintegration.md
  solutions/Virtual-Assistant/docs/virtualassistant-personalization.md
  solutions/Virtual-Assistant/docs/virtualassistant-responses.md
  solutions/Virtual-Assistant/docs/virtualassistant-testing.md
Labels: docs
