Repository microsoft/botframework-solutions, pull requests merged in 2018-10, with the labels that each got.

#38 fix: Calendar: All day meeting refinement
  solutions/Virtual-Assistant/src/csharp/skills/calendarskill/Dialogs/NextMeeting/NextMeetingDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/calendarskill/Dialogs/Summary/SummaryDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/calendarskill/Models/EventModel.cs
Labels: Skills

#132 AzureMapsKey checking & consolidation
  solutions/Virtual-Assistant/docs/virtualassistant-skills-pointofinterest.md
  solutions/Virtual-Assistant/src/csharp/skills/pointofinterestskill/Dialogs/Shared/PointOfInterestSkillDialog.cs
Labels: VA, skills

#180 workaround for clone services auto app creation issue
  solutions/Virtual-Assistant/docs/virtualassistant-createvirtualassistant.md
Labels: VA, docs

#152 [Email] Enable API test & flow testing with moq
  solutions/Virtual-Assistant/src/csharp/VirtualAssistant.sln
  solutions/Virtual-Assistant/src/csharp/assistant/BotServices.cs
  solutions/Virtual-Assistant/src/csharp/assistant/Dialogs/Shared/CustomSkillDialog.cs
  solutions/Virtual-Assistant/src/csharp/microsoft.bot.solutions/Resources/General.cs
  solutions/Virtual-Assistant/src/csharp/microsoft.bot.solutions/Skills/ISkillConfiguration.cs
  solutions/Virtual-Assistant/src/csharp/microsoft.bot.solutions/Skills/SkillConfiguration.cs
  solutions/Virtual-Assistant/src/csharp/microsoft.bot.solutions/Skills/SkillDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Dialogs/ConfirmRecipient/ConfirmRecipientDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Dialogs/DeleteEmail/DeleteEmailDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Dialogs/ForwardEmail/ForwardEmailDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Dialogs/Main/MainDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Dialogs/ReplyEmail/ReplyEmailDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Dialogs/SendEmail/SendEmailDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Dialogs/Shared/EmailSkillDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Dialogs/Shared/Resources/Email.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Dialogs/ShowEmail/ShowEmailDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/EmailSkill.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/ServiceClients/GraphClientHelper.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/ServiceClients/IMailService.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/ServiceClients/MailService.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/ServiceClients/MailSkillServiceManager.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/ServiceClients/UserService.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Startup.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/API/Fakes/MockGraphServiceClientGen.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/API/MailServiceTests.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/API/UserServiceTests.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/EmailSkillTest.bot
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/EmailSkillTest.csproj
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/EmailBotTestBase.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/Fakes/MockEmail.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/Fakes/MockLuisRecognizerGen.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/Fakes/MockMailService.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/Fakes/MockMailServiceManager.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/Fakes/MockSkillConfiguration.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/Fakes/MockUserService.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/ForwardEmailFlowTests.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/ReplyFlowTests.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/SendEmailFlowTests.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/Flow/ShowEmailFlowTests.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/emailskilltest/appsettings.json
  solutions/Virtual-Assistant/src/csharp/skills/tests/testframework/BotTestBase.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/testframework/BuildConfig.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/testframework/ConsoleOutputMiddleware.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/testframework/Extensions/TestFlowExtensions.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/testframework/FakeService.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/testframework/LUISEntities.cs
  solutions/Virtual-Assistant/src/csharp/skills/tests/testframework/TestFramework.csproj
Labels: skills

#190 Flow stucked in skills after Luis update
  solutions/Virtual-Assistant/src/csharp/assistant/Dialogs/Main/MainDialog.cs
  solutions/Virtual-Assistant/src/csharp/assistant/Dialogs/Shared/EnterpriseDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/calendarskill/Dialogs/Main/MainDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/Dialogs/Main/MainDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/pointofinterestskill/Dialogs/Main/MainDialog.cs
  solutions/Virtual-Assistant/src/csharp/skills/todoskill/Dialogs/Main/MainDialog.cs
Labels: bug
