Repository microsoft/botframework-solutions, pull requests merged in 2019-04, with the labels that each got.

#1048 [AI] Documentation Refactor
  docs/skills/README.md
  docs/skills/common/experimental-skills.md
  docs/skills/csharp/README.md
  docs/skills/csharp/automotive.md
  docs/skills/csharp/create.md
  docs/skills/csharp/developing-a-new-skill.md
  docs/skills/csharp/pointofinterest.md
  docs/skills/csharp/productivity-calendar.md
  docs/skills/csharp/productivity-email.md
  docs/skills/csharp/productivity-todo.md
  docs/skills/typescript/README.md
  docs/skills/typescript/create.md
  docs/virtual-assistant/README.md
  docs/virtual-assistant/common/authentication.md
  docs/virtual-assistant/common/deviceintegration.md
  docs/virtual-assistant/common/overview.md
  docs/virtual-assistant/common/responses.md
  docs/virtual-assistant/csharp/README.md
  docs/virtual-assistant/csharp/events.md
  docs/virtual-assistant/csharp/gettingstarted.md
  docs/virtual-assistant/csharp/knownissues.md
  docs/virtual-assistant/csharp/linkedaccounts.md
  docs/virtual-assistant/csharp/personalization.md
  docs/virtual-assistant/csharp/proactivemessaging.md
  docs/virtual-assistant/csharp/testing.md
  docs/virtual-assistant/typescript/README.md
  docs/virtual-assistant/typescript/gettingstarted.md
  solutions/Virtual-Assistant/src/csharp/experimental/skills/newsskill/readme.md
  solutions/Virtual-Assistant/src/csharp/experimental/skills/restaurantbooking/readme.md
  solutions/Virtual-Assistant/src/csharp/skills/automotiveskill/automotiveskill/readme.md
  solutions/Virtual-Assistant/src/csharp/skills/calendarskill/calendarskill/readme.md
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/emailskill/readme.md
  solutions/Virtual-Assistant/src/csharp/skills/pointofinterestskill/pointofinterestskill/readme.md
  solutions/Virtual-Assistant/src/csharp/skills/todoskill/todoskill/readme.md
  solutions/Virtual-Assistant/src/typescript/assistant/README.md
  templates/Skill-Template/src/csharp/SkillTemplate/Skills/Skill Template/readme.md
Labels: Language: Typescript, Type: Docs

#1109 [Templates][TypeScript] Ignore completed-doc rule
  templates/Enterprise-Template/src/typescript/enterprise-bot/package-lock.json
  templates/Enterprise-Template/src/typescript/enterprise-bot/tslint.json
  templates/Enterprise-Template/src/typescript/generator-botbuilder-enterprise/generators/app/templates/enterprise-bot/tslint.json
  templates/Skill-Template/src/typescript/generator-botbuilder-skill/generators/app/templates/customSkill/tslint.json
Labels: Language: Typescript

#1134 Create CODEOWNERS file
  .github/CODEOWNERS
Labels: Type: Maintenance

#1164 Update master branch to latest solutions reference speech channel on startup
  solutions/Virtual-Assistant/src/csharp/assistant/VirtualAssistant.csproj
  solutions/Virtual-Assistant/src/csharp/experimental/skills/newsskill/NewsSkill.csproj
  solutions/Virtual-Assistant/src/csharp/experimental/skills/restaurantbooking/RestaurantBooking.csproj
  solutions/Virtual-Assistant/src/csharp/skills/automotiveskill/automotiveskill/AutomotiveSkill.csproj
  solutions/Virtual-Assistant/src/csharp/skills/automotiveskill/automotiveskilltest/AutomotiveSkillTest.csproj
  solutions/Virtual-Assistant/src/csharp/skills/calendarskill/calendarskill/CalendarSkill.csproj
  solutions/Virtual-Assistant/src/csharp/skills/calendarskill/calendarskilltest/CalendarSkillTest.csproj
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/emailskill/EmailSkill.csproj
  solutions/Virtual-Assistant/src/csharp/skills/emailskill/emailskilltest/EmailSkillTest.csproj
  solutions/Virtual-Assistant/src/csharp/skills/pointofinterestskill/pointofinterestskill/PointOfInterestSkill.csproj
  solutions/Virtual-Assistant/src/csharp/skills/pointofinterestskill/pointofinterestskilltests/PointOfInterestSkillTests.csproj
  solutions/Virtual-Assistant/src/csharp/skills/todoskill/todoskill/ToDoSkill.csproj
  solutions/Virtual-Assistant/src/csharp/skills/todoskill/todoskilltest/ToDoSkillTest.csproj
  solutions/Virtual-Assistant/src/csharp/tests/experimental.skills.tests/Experimental.Skills.Tests.csproj
  solutions/Virtual-Assistant/src/csharp/tests/virtualassistant.tests/VirtualAssistant.Tests.csproj
Labels: Type: Maintenance
