Repository microsoft/botframework-solutions, pull requests merged in 2019-05, with the labels that each got.

#1085 [Botskills][TypeScript] Implement Skill CLI Tool
  lib/typescript/botskills/.gitignore
  lib/typescript/botskills/README.md
  lib/typescript/botskills/docs/connect-disconnect.md
  lib/typescript/botskills/docs/list.md
  lib/typescript/botskills/package-lock.json
  lib/typescript/botskills/package.json
  lib/typescript/botskills/src/botskills-connect.ts
  lib/typescript/botskills/src/botskills-disconnect.ts
  lib/typescript/botskills/src/botskills-list.ts
  lib/typescript/botskills/src/botskills.ts
  lib/typescript/botskills/src/functionality/connectSkill.ts
  lib/typescript/botskills/src/functionality/disconnectSkill.ts
  lib/typescript/botskills/src/functionality/index.ts
  lib/typescript/botskills/src/functionality/listSkill.ts
  lib/typescript/botskills/src/index.ts
  lib/typescript/botskills/src/logger/index.ts
  lib/typescript/botskills/src/logger/logger.ts
  lib/typescript/botskills/src/models/authentication.ts
  lib/typescript/botskills/src/models/cognitiveFile.ts
  lib/typescript/botskills/src/models/connectConfiguration.ts
  lib/typescript/botskills/src/models/disconnectConfiguration.ts
  lib/typescript/botskills/src/models/dispatchFile.ts
  lib/typescript/botskills/src/models/index.ts
  lib/typescript/botskills/src/models/listConfiguration.ts
  lib/typescript/botskills/src/models/skillFile.ts
  lib/typescript/botskills/src/models/skillManifest.ts
  lib/typescript/botskills/src/utils/authenticationUtils.ts
  lib/typescript/botskills/src/utils/childProcessUtils.ts
  lib/typescript/botskills/src/utils/index.ts
  lib/typescript/botskills/src/utils/validationUtils.ts
  lib/typescript/botskills/test/mocha.opts
  lib/typescript/botskills/tsconfig.json
  lib/typescript/botskills/tslint.json
Labels: Language: Typescript, Type: Enhancement

#1310 [Botskills] Improve commands structure
  lib/typescript/botskills/src/functionality/connectSkill.ts
  lib/typescript/botskills/src/functionality/disconnectSkill.ts
  lib/typescript/botskills/src/utils/authenticationUtils.ts
  lib/typescript/botskills/src/utils/childProcessUtils.ts
  lib/typescript/botskills/src/utils/index.ts
  lib/typescript/botskills/src/utils/validationUtils.ts
Labels: Language: Typescript

#1354 Add telemetry client to LUIS and QnA recognizer for logging
  templates/Virtual-Assistant-Template/csharp/Sample/VirtualAssistantSample/Services/BotServices.cs
  templates/Virtual-Assistant-Template/csharp/Template/VA/Services/BotServices.cs
Labels: Language: C#
